# Ignore node_modules directory
node_modules/

# Ignore compiled output
dist/

# Ignore environment variables file
.env

# Ignore log files
*.log

# Ignore macOS system files
.DS_Store

# Ignore Visual Studio Code files
.vscode/

# Ignore IntelliJ IDEA files
.idea/

# Ignore project-specific configuration files
/config/*.json
